<% form_for :photos,
             :url => {:action => :create, :id => @product},
             :html => {:multipart => true} do |f|
             %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.label :image_url %><br />
    Upload your file: <%= file_field("file", "file") %>  
  </div>
  <div class="actions">
      <%= submit_tag("Upload file") %>  
  </div>
<% end %>
